<div class="container">
  <%= form_for(@article) do |f| %>
    <div>
      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'text-box' %>
    </div>
    <div>
      <%= f.label :content, class: 'label' %>
      <%= f.text_area :content, class: 'big-box text-box' %>
    </div>
    <%= f.submit %>
  <% end %>
</div>